.Dropdown {
  background-color: var(--color-white);
  position: absolute;
  margin: 0;
  top: -1000px;
  left: -1000px;
}

.Dropdown-character {
  border-bottom: 5px solid var(--color-tan);
  border-top: 5px solid var(--color-tan);
  padding: .5em;
  margin: 0;
  color: var(--color-main);
  font-weight: bold;
}

.Dropdown:last-child {
  border: none;
}

.Dropdown-character:hover {
  background-color: var(--color-main);
  color: var(--color-white);
  cursor: pointer;
}