.GameTile {
  border: 1px solid var(--color-tan);
  text-decoration: none;
  height: 300px;
  width: 400px;
  display: grid;
  grid-template-rows: 80% 20%;
}

.GameTile.leaderboard {
  height: 150px;
  width: 150px;
}

.GameTile.leaderboard:hover {
  cursor: pointer;
}

.GameTile-image {
  height: 100%;
  width: 100%;
}

.GameTile-description {
  background-color: var(--color-tan);
  color: var(--color-main);
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.GameTile.leaderboard.active .GameTile-description {
  background-color: var(--color-main);
  color: var(--color-white);
}

.GameTile-description h3 {
  margin: 0;
  justify-self: start;
  display: flex;
}

.GameTile-characters {
  justify-self: end;
  display: flex;
  
}

.GameTile-character {
  height: 50px;
}

.GameTile.leaderboard .GameTile-character {
  height: 20px;
}