.GameTile {
  border: 1px solid var(--color-tan);
  text-decoration: none;
  height: 300px;
  width: 400px;
  display: grid;
  grid-template-rows: 80% 20%;
}

.GameTile-image {
  height: 100%;
  width: 100%;
}

.GameTile-description {
  background-color: var(--color-tan);
  color: var(--color-main);
}

.GameTile-description h3 {
  margin: 0;
}