.Game {
  min-height: 100vh;
  min-width: 100vw;
}
 
.Game-nav {
  z-index: 10;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  justify-items: center;
  align-items: center;
  padding: .5em;
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-tan);
  position: sticky;
  top: 0;
}

@media only screen and (max-width: 400px) {
  .Game-nav {
    grid-template-columns: 1fr;
  }
}

.Game-characters {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.Game-character {
  height: 50px;
}

.Game-character.found {
  opacity: 25%;
}

.Game-character-name {
  text-transform: capitalize;
  padding: 0;
  color: var(--color-main);
}
 
.Game-nav-link {
  text-decoration: none;
  color: var(--color-main);
}

.Game-nav-link:nth-child(2) h1 {
  font-size: 3em;
  margin: 0;
  font-family: 'Special Elite', cursive;
}

.Game-image {
  max-width: 90%;
}

.Game-image:hover {
  cursor: pointer;
}