.Home {
 min-height: 100vh;
 min-width: 100vw;
 max-width: 100vw;
 display: grid;
 grid-template-rows: 15% 85%;

}

.Home-nav {
 display: grid;
 grid-template-columns: auto 50% 25%;
 grid-template-areas: ". home leaderboard";
 justify-items: center;
 align-items: center;
 padding: .5em;
 background-color: var(--color-main);
 position: sticky;
 top: 0;
}

.Home-nav-link {
  text-decoration: none;
  color: var(--color-white);
}

.Home-nav-link:first-child h1 {
  font-size: 3em;
  margin: 0;
  font-family: 'Special Elite', cursive;
}

.Home-nav-link:first-child {
  grid-area: home;
}

.Home-nav-link:last-child {
  grid-area: leaderboard;
}

.Home-main {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1em;
  padding: 1em;
  align-items: center;
  grid-auto-flow: row;
}