.Popup {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.Popup-form {
  position: relative;
  background-color: var(--color-white);
  color: var(--color-main);
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding: 1em;
  box-sizing: border-box;
}

.form-close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 1em;
  background-color: inherit;
  color: inherit;
  border: none;
  text-decoration: none;
}

.form-submit,
.form-nosubmit,
.form-input {
  border: none;
  outline: none;
  padding: 1em;
  text-decoration: none;
}

.form-buttons {
  display: flex;
  gap: 1em;
}

.form-input {
  border-bottom: 1px solid var(--color-main);
  color: var(--color-black);
  text-align: center;
}

.form-submit {
  background-color: var(--color-main);
  color: var(--color-white);
}

.form-nosubmit {
  background-color: var(--color-tan);
  color: var(--color-main);
}